body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    background-color: var(--Light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #ffffff;
    max-width: 18.75rem;
    border-radius: 0.9375rem;
    margin: 1.25rem;
    padding: 0.9375rem;
}

.qrcode {
    width: 100%;
    border-radius: 0.625rem;
}

.title {
    font-size: 1.25rem;
    margin: 0.3125rem;
    padding: 0.3125rem;
    color: var(--Dark);
}

.info {
    text-align: center;
    font-size: 0.9375rem;
    margin: 0.3125rem;
    padding: 0.3125rem;
    color: var(--Grayish);
}

